.projects {
    background-color: #fff;
    border-radius: 50px;
    color: #161d26;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.projects hr {
    /* border-color: #ffffff3f; */
}

.projects .title {
    color: #161d26;
    margin-bottom: 40px;
}