@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "BaddMono";
  src: url("../public/fonts/Badd Mono/font/OTF/Badd-Mono-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.font-baddmono {
  font-family: "BaddMono";
} */

/* html {
  scroll-behavior: smooth;
} */

.coverbg {
  background-image: url(../public/images/pexels-sincegameon-12775176.jpg);
  background-position: center;
}

.previewImage:hover img {
  scale: 1.1;
}

.maxHero {
  font-size: clamp(4.5rem, 10vw, 10rem);
  line-height: 1;
}

@media (max-width: 500px) {
  .text-lg {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text-3xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-7xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  .maxHero {
    font-size: 3.75rem;
    line-height: 1;
  }
  .text-sm {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .text-xl {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

button:hover {
  transform: translateY(-4px);
}
